h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 30px !important;
}

.fc-day-grid-event .fc-content {
    cursor: pointer;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

.small-z {
    font-size: 13px;
}

.navbar-light .navbar-brand {
    color: purple;
}

.title-net {
    color: #009100;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

#small-calendar {
    h2 {
        font-size: 1.1rem;
        color: black;
    }
    
    .fc-day-header.fc-widget-header {
        font-size: 0.8rem;
    }
    
    .fc-day-top {
        font-size: 0.8rem;
    }
}


div[data-editor="ace"] {
    width: 100%;
    height: 400px;
}

.article-content-preview {
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2rem;
}

.topic-row {
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    padding: 0.5rem;
    
    p {
        margin-bottom: 0;
    }
}

.topic-col {
    h4 {
        font-size: 1.2rem;
    }
}

.topic-row:hover {
    text-decoration: none !important;
    border-color: #1d2124 !important;
}

.contribution-user-info {
    width: 100px;
}

.jumbotron {
    background-image: url("../images/C-Matrix-785x490.jpg");
    background-size: cover;
    color: white;
}