@{
    ViewBag.Title = "Blog";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<a class="btn btn-info btn-sm" href="@Url.Action("Article")">Přidat článek</a>
<h3 class="mt-2">Seznam článků</h3>
<table>
    
</table>